.knowledgeItem {
  padding: 12px 0;

  h2 {
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    align-items: center;

    .arrow {
      display: inline-block;
      font-size: 0.7em;
      margin-right: 8px;
      position: relative;
      top: 2px;
    }

    &:hover {
      color: #333;
    }
  }

  h3 {
    margin-top: 10px;
  }

  p {
    font-size: 0.95em;
    margin-top: 10px;
  }

  &.isCollapsed {
    color: #666;
  }

  &.isOpen {
    color: black;

    h2:hover {
      color: black;
    }
  }
}
